* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
  background-color: hsl(212, 45%, 89%);
}
