/* For tablets (600px and larger) */
@media (min-width: 600px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }

  .container {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 30px;
    padding: 30px;
    width: 85%;
    height: 70%;
  }

  .info-name {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 2.1rem;
  }

  .info-desc {
    font-size: 1.4rem;
  }

  .attribution {
    font-size: 1rem;
  }
}

/* For desktops (1024px and larger) */
@media (min-width: 1024px) {
  body {
    margin-left: 0px;
    margin-right: 0px;
  }
  .container {
    border-radius: 15px;
    padding: 20px;
    width: 390px;
    height: 65%;
  }

  .info-container {
    display: flex;
    justify-content: center;
    padding: 30px 20px 40px 20px;
    flex-direction: column;
    height: 40%;
  }

  .info-name {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 1.7rem;
  }

  .info-desc {
    font-size: 1.1rem;
  }

  .attribution {
    font-size: 0.8rem;
  }
}
